    :root
    {
        --pc: 5.208333%;
        --space-right: 4.2%;
        --sp-elogo:8.5%;
        --duty-frame-radius:32px;
        
        /* THEMES */
        
        /* Red */
        --color-main-red: 		    red;
        --color-sub-red: 		    rgb(255, 126, 126);
        --color-trans-red:          rgb(255, 126, 126);
        
        /* Dark Purple */
        --color-main-dpurple:		rgb(176, 30, 86);
        --color-sub-dpurple:		rgba(176, 30, 86, 0.7);
        --color-trans-dpurple:	    rgba(176, 30, 86, 0.4);
    }
    html
    {
        width:100%;
        height:100%;
        overflow:hidden;
        font-family:Carlito;
    }
    body{
        width:100%;
        height:100%;
        background-color:rgb(255, 255, 255);
        font-family: Calibri;
        margin:0px;
    }
    .table_header
    {
        float: left;
        width: -webkit-fill-available;
        /* width: calc(1760 * var(--pc) / 100); */
        margin: calc(60 * var(--pc) / 100) calc(80 * var(--pc) / 100) calc(60 * var(--pc) / 100) calc(140 * var(--pc) / 100);
        min-height: 100px;
        border-collapse: separate;
        border-spacing: 0;
        /* padding: 0; */
    }
    .logo_div
    {
        position: absolute;
        margin-left: -54pt;
        margin-top: -30pt;
    }
    .logo_img
    {
        width: 160px;
        height: 160px;
    }
    .table_cell_title
    {
        text-align:center;
        /* padding: 0px; */
    }
    .title_frame
    {
        border-style: solid;
        border-width: 8px;
        border-radius: 15px;
    }
    .title_label
    {
        font-size:42.0pt;
        padding: 0.7% 0% 0% 0%;
        font-weight:bold;
    }
    .table_mdiv
    {
        /* height: calc(674 * var(--pc) / 100); */
        width: 100%;
        display: table;
    }    
    .table_div
    {
        text-align: center;
        display: table-cell;
        height: 100%;
        width: 100%;
    }
    .table_row
    {
        display: flex;
        margin: 0% calc(80 * var(--pc) / 100) 0% calc(50 * var(--pc) / 100);
    }
    .table_column_ecz
    {
        flex: 31.674%;
        text-align: -webkit-center;
    }
    table_column_map
    {
        flex: 30%
    }
    .table_duty
    {
        text-align: center;
        border-spacing: 30px 0px;
    }
    .cell_date
    {
        line-height:75px;
        padding:0;
    }
    .clock_style
    {
        font-size: 28.0pt;
        border-color: #cccaca;
        border-style: solid;
        border-radius: 30px;
        border-width: 1px;
        background-image: url(3d_clk.png);
        background-size: 100% 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-clip: padding-box;
    }
    #clockbox
    {
        font-size: 30.0pt;
        font-weight: bold;
    }
    .table_eczaneler
    {
        float: left;
        width: 100%;
        text-align: center;
        margin: 30px 0% 0% 0%;
        padding: 0% 2% 0% 2%;
        min-height: 300px;
        empty-cells: show;
        border-style:none;
        border-width: 6px;
        /*border-radius: 30px;*/
        border-collapse: separate;
        border-spacing: 0;
        background-image: url(3d_duty.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: left;
        background-clip: inherit;
    }
    .table_qr
    {
        width: 100%;
        text-align: center;
        border-spacing: 0;
    }
    .cell_qr
    {
        width:145px;
        height: 200px;
        padding:0pt 5.4pt 0pt 0.4pt;
        text-align: center;
        border: none;
        border-width: 0 5px 0 0;
    }
    .qr_img
    {
        width:145px;
        max-width: 145px;
    }
    .qr_info
    {
        font-size: 13pt;
        margin-bottom: 0%;
    }
    .cell_eczane
    {
        height: 125px;
    }
    .cell_addr
    {
        height: 100px;
    }
    .cell_number
    {
        height: 68px;
    }
    .eczane_label
    {
        padding-top: 4%;
        font-size: 35pt;
        font-weight:bold;
        text-align:center;
        line-height: 115%;
    }
    .eczane_off_duty
    {
        margin-top: 5%;
        font-size: 52pt;
        font-family: Nulshock;
        font-weight:bold;
        text-align:center;
        line-height: 90pt;
    }
    .map_style
    {
        width: 880px;
        height: 660px;
    }
    .map_frame
    {
        border-style: solid;
        border-width: 7px;
        border-radius: 30px;
    }
    .addr_label
    {
        font-size: 22pt;
        color:black;
        text-align:center;
    }
    .number_label
    {
        font-size:20.0pt;
        text-align:center;
    }
    .table_footnote
    {
        float: right;
        width: calc(100% - ((1.8) * (var(--space-right))));
        empty-cells: show;
        margin-top: 2%;
        margin-left: var(--space-right);
        margin-right: var(--space-right);
        border-collapse: separate;
        border: none;
    }
    @font-face {
        font-family: "Nulshock";
        src: url("nulshock_bd.ttf")  format("truetype"); /* Safari, Android, iOS */
    } 
    .table_cell_3d
    {
        width: calc((var(--space-right)) + (var(--sp-elogo)));
        font-family: Nulshock;
        font-size: 16pt;
        text-align: left;
        background-image: url(3d_ecz.png);
        background-size: 83% 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-clip: padding-box;
    }
    .info_eczane_self
    {
        padding: 0% 21% 0% 3%;
        text-align: center;
    }
    .table_cell_foot
    {
        text-align: center;
        /* width: calc(100% - ((var(--space-right) + var(--sp-elogo)) * 2)); */
    }
    .info_note
    {   
        font-size:20.0pt;
        text-align:center;
        padding-top:0.5%;
    }
    .info_disclaimer
    {
        font-size:18.0pt;
        text-align:center;
        padding-top:0.5%;
        color:black;
    }
    .elogo
    {
        width: calc(var(--space-right) + var(--sp-elogo));
        text-align: right;
        /* margin-right: 20%; */
    }
    .my_eczane
    {
        margin: 11% 0% -33% 0%;
        font-size: 42pt;
        font-weight: bold;
    }
    #phar_nan
    {
        border-style: solid;
        border-color: var(--color-main-dpurple);
        border-width: 6px;
        border-radius: 30px;
    }
